.content-quarantine-image img {
    width: 80%;
}

.content-quarantine-image {
    text-align: center;
    margin-bottom: 24px;
}

.content-quarantine-description {
    color: white;
    font-family: sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
}

#quarantine-description-end {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}